<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href={% static '/css/main.css' %}>
    <title>Email sender</title>
</head>         
<body>
    <div class="navbar">
        <div class=mail_sender>
            <header><a href="">Mail Sender</a></header>
        </div>
    </div>
    <div class="container">
        <h1>Welcome to my Email-Sender Application</h1>
    </div>
    {% block content %}
    {% endblock content %}

</body>
</html>